/*-------------------------------------------------------------- HOME PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- CSS Reset --------------------------------------------------------------------------------*/
/* Got rid of all the default margin + padding on the page */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*-------------------------------------------------------------- CSS Reset --------------------------------------------------------------------------------*/

/* Navbar container */
.navbar {
  z-index: 3;
  overflow: hidden;
  background-color: #f2a903;
  font-family: "Noto Sans TC";
  box-shadow: 3px 3px 15px black;
  position: absolute;
  top: 0%;
  left: 4.2%;
  width: 95.8%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px 127.5px;
  text-decoration: none;
  overflow: hidden;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.navbar .dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 23px 127.5px;
  background-color: inherit;
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a white background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: rgb(244, 245, 241);
  width: 100%;
  left: 0;
  box-shadow: 3px 3px 25px black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: rgba(244, 245, 241, 0.8);
  height: auto;
  color: rgb(80, 61, 12);
  font-size: 20px;
}

/* Adding An Underline For h3 CSS */
.column h3 {
  border-bottom: 3px solid rgb(242, 169, 3);
  padding-bottom: 10px;
  margin-bottom: 0;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: rgb(82, 62, 13);
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  letter-spacing: 4px;
}

/* Add a background color on hover */
.column a:hover {
  background-color: rgba(242, 170, 3, 0.4);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Nav Logo CSS*/
.nav-logo {
  float: left;
  width: 80px;
  height: 68.2px;
  position: static;
  top: 0%;
  box-shadow: 1px 1px 3px black;
  z-index: 1;
}

/*-------------------------------------------------------------- Nav Logo  + Navigation Bar CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- Image SlideShow CSS --------------------------------------------------------------------------------*/
.slider {
  overflow: hidden;
  width: 99.1vw;
  height: 92vh;
  position: relative;
  background-color: black;
  z-index: 0;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slider 12.5s infinite;
  z-index: 0;
}

.slider .slide:nth-child(1) {
  background-image: url("Images/IMG_1808.jpeg");
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  background-image: url("Images/Cantor4.jpg");
  animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
  background-image: url("Images/Cantor\ atrium\ 3.jpg");
  animation-delay: -5s;
}

.slider .slide:nth-child(4) {
  background-image: url("Images/Cantor\ Lecture\ Theatre\ 3.jpg");
  animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
  background-image: url("Images/IMG_1437.jpeg");
  animation-delay: -10s;
}

@keyframes slider {
  0%,
  16%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }

  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }

  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

/* Text + Header CSS */
body #text-header {
  font-family: "Noto Sans TC";
  color: white;
  font-size: 5em;
  font-weight: 900;
  margin-left: 2%;
  position: absolute;
  top: 75%;
  text-shadow: 1px 1px 10px black;
}

body #text-moto {
  font-family: "Noto Sans TC";
  color: white;
  font-size: 1em;
  margin-left: 2.5%;
  position: absolute;
  top: 87%;
  font-weight: 600;
  text-shadow: 1px 1px 10px black;
}

/*-------------------------------------------------------------- Image SlideShow CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- Footer CSS --------------------------------------------------------------------------------*/
footer {
  overflow: hidden;
  background-color: rgb(242, 169, 3);
  padding: 100px 951.749px;
  text-align: center;
  color: white;
  font-family: "Noto Sans TC";
  position: relative;
}

footer #footer-logo {
  float: left;
  position: absolute;
  left: 2%;
  bottom: 10%;
}

footer #footer-h3 {
  font-size: 2em;
  font-weight: 800;
  text-shadow: 1px 1px 5px black;
  left: 45%;
  bottom: 68%;
  position: absolute;
}

footer #footer-address-info {
  font-size: 23px;
  left: 18%;
  font-weight: 600;
  bottom: 10%;
  position: absolute;
  text-shadow: 1px 1px 5px black;
}

footer #footer-contact-info {
  font-size: 23px;
  left: 63%;
  font-weight: 600;
  bottom: 10%;
  position: absolute;
  text-shadow: 1px 1px 5px black;
}

/*-------------------------------------------------------------- Footer CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- HOME PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- ABOUT US PAGE CSS --------------------------------------------------------------------------------*/

main .img-container {
  background-color: rgb(242, 169, 3);
}

body #AboutUsPage-Background-img {
  width: 100%;
  height: 100%;
}

/* Text + Header CSS */
#OurStory-h3 {
  color: white;
  font-family: "Noto Sans TC";
  font-size: 5em;
  font-weight: 800;
  text-shadow: 3px 3px 10px black;
  position: absolute;
  top: 110%;
  left: 0.8%;
}

#OutStory-text {
  text-shadow: 3px 3px 10px black;
  color: white;
  font-family: "Noto Sans TC";
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 128%;
  left: 0.9%;
}

/*-------------------------------------------------------------- ABOUT US PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- DUMMY LINK PAGE CSS --------------------------------------------------------------------------------*/
.DummyLinkPage-h1 h1 {
  display: block;
  font-family: "Noto Sans TC";
  font-size: 8em;
  position: static;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  color: rgb(82, 62, 13);
  padding: 300px;
}

/*-------------------------------------------------------------- DUMMY LINK PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- BUSINESS PAGE CSS --------------------------------------------------------------------------------*/

#Business-h2 {
  font-family: "Noto Sans TC";
  font-size: 4em;
  color: rgb(82, 62, 13);
  padding-top: 110px;
  text-shadow: 1px 1px 1px black;
  margin-left: 0.5%;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 40%;
  padding-bottom: 10px;
}

#Business-text {
  font-family: "Noto Sans TC";
  font-size: 25px;
  margin-right: 40%;
  margin-left: 0.5%;
  margin-bottom: 1%;
}

.Business-Slides {
  overflow: hidden;
  width: 38vw;
  height: 38vh;
  position: absolute;
  background-color: black;
  z-index: 0;

  left: 61.2%;
  bottom: 30%;
}

.Business-Slides .mySlides {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------------------- BUSINESS PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- STAFF PAGE CSS --------------------------------------------------------------------------------*/

main .Staff-Info {
  font-family: "Noto Sans TC";
  text-align: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
}

main .Staff-Header {
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 3em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 25%;
  margin-left: 25%;
  padding-bottom: 10px;
}

main .Staff-Text {
  font-size: 25px;
  margin-right: 5%;
  margin-left: 5%;
}

/*-------------------------------------------------------------- STAFF PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- RULES GOVERNING PAGE CSS --------------------------------------------------------------------------------*/

main .Rules-info {
  font-family: "Noto Sans TC";
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

main .Rules-BigHeader {
  text-align: center;
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 3em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 10px;
}

main .Rules-SmallHeader {
  text-align: left;
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 80%;
  margin-left: 1%;
  padding-bottom: 10px;
}

main .Rules-Text {
  font-size: 25px;
  margin-right: 1%;
  margin-left: 1%;
}

main #Rules-BoldText {
  text-align: center;
  font-size: 23px;
  margin-right: 1%;
  margin-left: 1%;
}

/*-------------------------------------------------------------- RULES GOVERNING PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- ALL FACILITIES PAGE CSS --------------------------------------------------------------------------------*/

main .Facilities-info {
  font-family: "Noto Sans TC";
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

main .Facilities-Header {
  text-align: left;
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 3em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 80%;
  margin-left: 1%;
  padding-bottom: 10px;
}

main .Facilities-Text {
  font-size: 25px;
  margin-right: 1%;
  margin-left: 1%;
}

main .Facilities-List {
  font-size: 25px;
  margin-right: 1%;
  margin-left: 3%;
}

.Facilities-Slides {
  overflow: hidden;
  width: 45vw;
  height: 45vh;
  position: absolute;
  background-color: black;
  z-index: 0;

  left: 52%;
  bottom: 5%;
}

.Facilities-Slides .mySlides {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------------------- ALL FACILITIES PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- COMPUTING COURSES PAGE CSS --------------------------------------------------------------------------------*/

main .Computing-info {
  font-family: "Noto Sans TC";
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

main .Computing-Header {
  text-align: left;
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 3em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 80%;
  margin-left: 1%;
  padding-bottom: 10px;
}

main .Computing-Text {
  font-size: 25px;
  margin-right: 1%;
  margin-left: 1%;
}

/*-------------------------------------------------------------- COMPUTING COURSES PAGE CSS --------------------------------------------------------------------------------*/

/*-------------------------------------------------------------- DESIGN COURSES PAGE CSS --------------------------------------------------------------------------------*/

main .Design-info {
  font-family: "Noto Sans TC";
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

main .Design-Header {
  text-align: left;
  color: rgb(82, 62, 13);
  text-shadow: 1px 1px 1px black;
  font-size: 3em;
  position: relative;

  /* Under Line CSS */
  border-bottom: 6px solid rgb(242, 169, 3);
  margin-bottom: 1%;
  margin-right: 80%;
  margin-left: 1%;
  padding-bottom: 10px;
}

main .Design-Text {
  font-size: 25px;
  margin-right: 1%;
  margin-left: 1%;
}

/*-------------------------------------------------------------- DESIGN COURSES PAGE CSS --------------------------------------------------------------------------------*/
